<?xml version="1.0" encoding="utf-8" ?>
<configuration>
 <appSettings>
	<add key ="owner" value="sormita"/>
	<!--<add key ="repo" value="dotnetconsoleapp-migrate"/>-->
	 <add key ="repo" value="dotnetcorecontainerize"/>
	<add key="applicationFolder" value="dotnetapp"/>
	 <add key="intermediateFileRepo" value="IntermediateMigrationFiles"/>
	<add key ="branch" value="master"/>
	 <add key ="filepath" value="C:\Users\SormitaChakraborty\source\repos\IBMDotNetMigration\dotnetmigration\WorkingDirectory\"/>
	<add key="packageManager" value="https://api.nuget.org/v3-flatcontainer/"/>
 </appSettings>
</configuration>